body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start {
    justify-content: start;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header_link:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(202, 140, 121);
    bottom: -3px;
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    transition: 1s all;
}

.button:hover{
    cursor: pointer;
    transition: 1s all;
    background: #5f0aa4;
}

/* what_is_it */

.what_is_it{
    background: #F4F5F7;
}

.what_is_it_about{
    padding: 77px 0;
    max-width: 555px;
}

.what_is_it_about:nth-child(1){
    margin-right: 29px;
}

.what_is_it_about_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

.what_is_it_about_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}

/* logos */

.logos{
    padding: 30px 0 106px;
}

/* inbox */

.inbox{
    background:rgba(252, 240, 227, 0.4);
    padding: 115px 0 116px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.inbox_img{
    margin-right: 11px;
}

.info_pretitle{
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
}

.info_pretitle-orange{
    color: #F1592B;
    font-weight: bold;
}

.info_title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    margin-bottom: 26px;
}

.info_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 461px;
    margin-bottom: 44px;
}

/* build */

.flex_build{
    
}

.build{
    padding: 123px 0 105px;
    background: #F2F2F2;
}

.build_info{
    margin-bottom: 129px;
}

.info_pretitle-blue {
    color: #0189D1;
    font-weight: bold;
    margin-bottom: 24px;
}

.info_title-mb30 {
    margin-bottom: 30px;
}

.build_grid{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 130px);
        gap: 30px;
}

.build_information{
    max-width: 360px;
    box-sizing: border-box;
}

.build_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
}

.build_span{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
}

.build_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3040C4;
}

/* understand */

.understand{
    padding: 110px 0;
    background-color: rgba(0,160,196,.07);
}

.understand_info{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
}

.understand_sub_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 24px;
}

.understand_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
}

.understand_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 34px;
}

.understand_button{
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    padding: 17px 28px 18px;
    margin-right: 10px;
    background-color: #fff;
    border: none;
    margin-bottom: 111px;
    transition: 1s all;
}

.understand_button:hover{
    background-color: #3040C4;
    color:#fff;
    transition: 1s all;
}

.understand_button_2{
    margin-right: 0;
}

.understand_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 300px);
    gap: 50px;
}

.understand_grid_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 22px 0 33px;
    transition: 1s all;
}

.understand_grid_box:hover{
    background-color: #3141C5;
    color: #FFFFFF;
    transition: 1s all;
}

.understand_img{
    margin-bottom: 22px;
}
.understand_grid_text{
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
}

.logos-pd62{
    padding: 62px 0;
}

/* FOTO */

.foto{
    padding: 90px 0;
}

.foto_inform{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 26px;
    text-align: center;
}

.foto_text{
    max-width: 554px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin: 0 auto;
    color: #172342;
    margin-bottom: 97px;
}

.foto_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 209px); 
    gap: 50px;
}

.foto_img:nth-of-type(3), .foto_img:nth-of-type(4){
    grid-row: span 2;
}