body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

/* HEADER */

.header__nav{
    margin: 53px auto;
}

.nav__li{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.nav__li:not(:last-child){
    margin-right: 48px;
}

.nav__link{
    text-decoration: none;
    color: #000000;
}

/* BG__IMAGE */

.bg__image{
    background-image: url('../img/bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 138px 0 180px;
}

.bg__image-title{
    font-weight: 700;
    font-size: 72px;
    color: #FFFFFF;
}

.bg__image-button{
    width: 420px;
    padding: 11px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
    margin-top: 24px;
}

/* DESCRIPTION */

.item__1, .item__2, .item__3{
    position: absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    
}

.item__1{
    top: -121px;
}

.item__2{
    top: 125px;
}

.item__3{
    right: 0;
}

.description{
    background-color: rgba(26, 110, 136, 0.71);
    padding: 133px 0;
    margin-bottom: 221px;
}

.description__text{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    max-width: 726px;
    margin: 0 auto;
}

/* TEXT 1 - TEXT 2 */

.text1{
    margin-bottom: 216px;
    position: relative;
}

.text2 {
    margin-bottom: 123px;
}

.text1-content, .text2-content{
    width: 750px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.text2-content::before{
    content: " ";
    position: absolute;
    width: 58px;
    height: 58px;
    background: #5C98AB;
    border-radius: 50%;
    transform: translate(-100%, -100%);
}

.text2-content::after{
    content: " ";
    position: absolute;
    width: 120px;
    height: 120px;
    background: #BFDEFB;
    border-radius: 50%;
    transform: translate(50%);
}
  
/* FORM */

.input, .button{
    width: 647px;
    height: 96px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    margin: 0 auto;
    box-sizing: border-box;
} 

.input{
    font-weight: 400;
    font-size: 36px;
    padding-top: 36px;
    padding-bottom: 11px;
    padding-left: 32px;
}

.form__inputs{
    margin-bottom: 41px;
    position: relative;
    max-width: 647px;
    margin: 0 auto;
    text-align: center;
}

.label{
    position: absolute;
    top: 14px;
    left: 31px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.input:last-child{
    margin-bottom: 58px;
}

input::placeholder{
    padding: 33px 318px 14px 0;
    color: #000000;
}

.form_button{
    text-align: center;
}

.button {
    background-color: #5C98AB;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}